@model List<WebGameClient.Models.GameTable>
@{
    ViewBag.Title = "Create";
}
@Styles.Render("~/Content/Button.css")

<h2>Create a new Game Table</h2>

@if (ViewBag.Situation == 3) {
    List<WebGameClient.Models.CGUser> users = Model[0].Users;
    <h2>Created Game Table: @Model[0].TableName</h2>
    foreach (WebGameClient.Models.CGUser item in users) {
        <h3>Players on table: @item.UserName</h3>
    }
}
<form name="TableCreate" method="post" action='@Url.Action("Create","Table")'>
    <div>
        Name
        <input id="tableName" name="tableName" type="text" maxlength="30" />
        <br>
        <br>
    </div>
    <div>
        <input type="submit" value="Create" class="button" onclick="if ( ! validate()) return false;" language="javascript" />
        <input type="reset" value="Cancel" />
    </div>
</form>

@if (ViewBag.Situation == 6) {
    <h2>Table with that name already exists.</h2>
}



