@model List<WebGameClient.Models.GameTable>
@{
    ViewBag.Title = "Create";
}
<head>
    <script src="../Js/FormValidate.js"></script>
</head>

<h2>Create a new Game Table</h2>

    @if (ViewBag.Situation == 3) {
        <form name="createGameTable" method="post" action="Succes">
            <div>
                Name
                <input name="tableName" type="text" maxlength="30" />
            </div>
            <div>
                <input type="submit" value="Create" onclick="if ( ! validate()) return false;" language="javascript" />
                <input type="reset" value="Cancel" />
            </div>
        </form>
}


