@model WebGameClient.Models.GameTable
@{
    ViewBag.Title = "JoinTable";
}

<h2>Join sucess</h2>
<h3>Joined Game Table: @Model.TableName</h3>
@{
    List<WebGameClient.Models.CGUser> users = Model.Users;
    foreach (WebGameClient.Models.CGUser item in users) {
        <h3>Players on table: @item.UserName</h3>
    }
}
<div>
<input type="button" style="float:right; width: 20%; background-color:lawngreen" value="Create Your own game table" onclick="location.href='@Url.Action("Index", "Game", new { id = Model.Id})'"/>
</div>

