@model WebGameClient.Models.GameTable
@{
    ViewBag.Title = "Lobby";
}

<h2>@ViewBag.Title</h2>
<h3>Joined Game Table: @Model.TableName</h3>
@{
    List<WebGameClient.Models.CGUser> users = Model.Users;
    foreach (WebGameClient.Models.CGUser item in users) {
        <h3>Players on table: @item.UserName</h3>
    }
}

<div>
    <h4>You can start the game when 4 players have joined</h4>
    <input type="button" style="float:left; width: 20%; background-color:lawngreen" value="Refresh" onclick="window.location.reload()" />
</div>
@if(Model.Users.Count == 4) { 
<div>
<input type="button" style="float:left; width: 20%; background-color:lawngreen" value="Start Game" onclick="location.href='@Url.Action("Index", "Game", new { id = Model.Id })'"/>
</div>
    }

