<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameTableManagementService" />
                <binding name="BasicHttpBinding_IUserManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/Design_Time_Addresses/GameTableManagementService/GameTableManagement/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameTableManagementService"
                contract="GameTableServiceReference.IGameTableManagementService"
                name="BasicHttpBinding_IGameTableManagementService" />
            <endpoint address="http://localhost:8734/Design_Time_Addresses/UserManagementService/UserManagement/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagementService"
                contract="UserManagementServiceReference.IUserManagementService"
                name="BasicHttpBinding_IUserManagementService" />
        </client>
    </system.serviceModel>
</configuration>